ecourt_n8n_workflow.json
{
  "name": "eCourt CNR Automation",
  "nodes": [
    {
      "parameters": {
        "path": "ecourt-submit",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "ecourt-webhook-trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:5000/scrape",
        "method": "POST",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"cnr\": \"{{$json[\"body\"][\"cnr\"]}}\" }"
      },
      "id": "HTTP_Request",
      "name": "Call Scraper API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "CNR",
              "value": "={{$json[\"cnr\"]}}"
            },
            {
              "name": "party_name",
              "value": "={{$json[\"party_name\"]}}"
            },
            {
              "name": "filing_date",
              "value": "={{$json[\"filing_date\"]}}"
            },
            {
              "name": "next_hearing",
              "value": "={{$json[\"next_hearing\"]}}"
            }
          ]
        }
      },
      "id": "Set",
      "name": "Extract Result Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Scraper API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Scraper API": {
      "main": [
        [
          {
            "node": "Extract Result Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "v1"
}